.pointerHover:hover{
    cursor: pointer;
}

.complete-btn{
    margin-left: 15px;
    margin-right: 5px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid gray;
}

.complete-btn:hover{
    box-shadow: 2px 2px 3px 0px rgba(135,133,135,1);
}

.edit-btn{
    position: relative;
    left: -5px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid gray;
}

.edit-btn:hover{
    box-shadow: 2px 2px 3px 0px rgba(135,133,135,1);
}

.img-logo{
    margin-left: 0.07rem;
    height: 3rem;
    width: auto;
}

.taskLink{
    text-decoration: none;
    color: black;
}

.title-container{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: start;
}

.td-hide-description{
    width: 30vw;
    height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td-hide-title{
    width: 12vw;
    height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}